* {
  box-sizing: border-box;
}

text, p, li, pre, h2,h3,h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }

h2 {
    font-size: 19px;
    margin-bottom: 2px;
  }

h3 {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 4px;
  }

li, pre, p {
    font-weight: normal;
  }
  
h1, h2, h3 {
    font-weight: bold;
  }

ul{
  margin-top: 2px;
  padding-inline-start: 30px;
}

p{
  margin: 4px;;
}

li{
  padding: 2.5px;
}

body{
  margin: 0px;
}

hr{
  margin: 2px;
  color: blue;
}

#header{
  background-color: #253846;
  margin: 0px;
  width: 100%;
  height: 80px;
}
/*MYNAME*/
#header h1 {
    font-size: 50px;
    font-weight: bold;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    color: aliceblue;
    text-align: right;
    padding-top: 25px;
    text-shadow: 5px 5px 5px #222;
  }

#insidebody{
  padding-left: 2%;
  padding-right: 2%;
  width: 70%;
  float: right;
  height: 100%;
  margin-top: 0.75rem;
}

#imageparent{
  text-align: center;
}

#imageparent img{
  width: 170px;
  height: 170px;
  margin-top: 5%;
  border-radius: 100px;
  margin-bottom: 15px;
}

#sidebar{
  background-color: rgba(233, 233, 233, 0.785);
  width: 30%;
  margin: 0;
  text-align: left;
  float: left;
  height: 100%;
}

.bodychunk{
  margin-bottom: 2rem;
}

.sidebarlist{
 margin: 1rem;
 padding: 1px;
}
  

